.places__img {
  grid-area: image;
  object-fit: contain;
  width: 460px;
}

@media screen and (max-width: 1140px) {
  .places__img {
    width: 440px;
  }
}

@media screen and (max-width: 984px) {
  .places__img {
    width: 340px;
  }
}

@media screen and (max-width: 640px) {
  .places__img {
    width: 100%;
  }
}
